@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: aquamarine;
    padding: 10px;
    
   
}
header {
    background-color: aqua;
    padding: 10px;
}
h1 {
    text-align: center;
}
nav {
    background-color: rgb(22, 170, 119);
    padding: 20px;
}
a {
    text-decoration: none;
    padding-right: 40px;
}
header > a:hover {
    text-decoration: underline;
    
}
main {
    max-width: 800px;
    min-width: 400px;
}
main > p {
    text-align: justify;
}